<app-ui-card>
    <section class="navbar">
        <div class="navigation">
            <ul>
                <li *ngFor="let item of navItems" [class.active]="activeItem === item.title">
                    <a [routerLink]="item.url">
                        <div *ngIf="item.title !== '# Теги' || !(responsive.lt.medium | async)">{{ item.title }}</div>
                        <div *ngIf="item.title === '# Теги' && (responsive.lt.medium | async)">{{ '#Теги' }}</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="search-input" [formGroup]="searchForm">
            <app-ui-form-control>
                <input class="navbar-search" formControlName="query" uiInput appearance="bordered" [placeholder]="searchPlaceholder">
                <svg name="search"></svg>
            </app-ui-form-control>
        </div>
    </section>
</app-ui-card>
