<section class="not-found-component font-1">
    <h5><b>{{ 'COMMON.NOT_FOUND_PAGE.HEADER' | translate }}</b></h5>
    <h5>{{ 'COMMON.NOT_FOUND_PAGE.MAIN' | translate }}</h5>
    <h5>{{ 'COMMON.NOT_FOUND_PAGE.SEARCH' | translate }}</h5>
    <ul>
        <li><h5><a routerLink="/popular/editorschoice">{{ 'COMMON.NOT_FOUND_PAGE.EDITORS_CHOICE.TITLE' | translate }}</a>{{ 'COMMON.NOT_FOUND_PAGE.EDITORS_CHOICE.DESCRIPTION' | translate }}</h5></li>
        <li><h5><a routerLink="/popular/week">{{ 'COMMON.NOT_FOUND_PAGE.POPULAR.TITLE' | translate }}</a>{{ 'COMMON.NOT_FOUND_PAGE.POPULAR.DESCRIPTION' | translate }}</h5></li>
        <li><h5><a routerLink="/authors">{{ 'COMMON.NOT_FOUND_PAGE.AUTHORS.TITLE' | translate }}</a>{{ 'COMMON.NOT_FOUND_PAGE.AUTHORS.DESCRIPTION' | translate }}</h5></li>
    </ul>
    <h5>{{ 'COMMON.NOT_FOUND_PAGE.FOOTER' | translate }}</h5>
</section>