<form class="admin-form">
    <div class="admin-form__wrap">
        <div class="admin-form__wrap-main">
            <label class="admin-input-blc">
                <span class="admin-input-row__title">Title</span>
                <span class="admin-input-row__inputgroup">
                    <input type="text" class="admin-input" name="title" [(ngModel)]="data.title">
                </span>
            </label>
            <label class="admin-input-blc">
                <span class="admin-input-row__title">Description</span>
                <span class="admin-input-row__inputgroup">
                    <input type="text" class="admin-input" name="description" [(ngModel)]="data.description">
                </span>
            </label>
            <label class="admin-input-blc">
                <span class="admin-input-row__title">URL</span>
                <span class="admin-input-row__inputgroup">
                    <input type="url" class="admin-input" name="url" [(ngModel)]="data.siteName">
                </span>
            </label>
            <fieldset class="admin-form__fieldset">
                <legend class="admin-input-blc"><span class="admin-input-row__title">Изображение</span></legend>
                <div class="admin-upload">
                    <div class="admin-upload__bar">
                        <label class="admin-upload__label">
                            <input #image type="file" accept="image/*" (change)="onImageChange($any($event).target.files)">
                            <div class="btn admin-upload__add">Загрузить изображение</div>
                        </label>
                        <button class="btn admin-upload__del" type="button" (click)="onImageChange(null)">Удалить изображение</button>
                    </div>
                    <div *ngIf="!inputData?.image" class="admin-upload__wrap" style="cursor: pointer;" (click)="image.click()">
                        <div class="admin-upload__wrap-plus">
                            <svg id="btn-add" viewBox="0 0 24 24" width="24px" height="24px">
                                <path d="M0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12Z" fill="white" stroke="#F0F0F0"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7132 11.2856H17.7132C18.1077 11.2856 18.4275 11.6054 18.4275 11.9999C18.4275 12.3943 18.1077 12.7141 17.7132 12.7141H12.7132V17.7141C12.7132 18.1086 12.3934 18.4284 11.9989 18.4284C11.6044 18.4284 11.2846 18.1086 11.2846 17.7141V12.7141H6.2846C5.89011 12.7141 5.57031 12.3943 5.57031 11.9999C5.57031 11.6054 5.89011 11.2856 6.2846 11.2856H11.2846V6.28557C11.2846 5.89109 11.6044 5.57129 11.9989 5.57129C12.3934 5.57129 12.7132 5.89109 12.7132 6.28557V11.2856Z" fill="#00B7FF"></path>
                            </svg>
                        </div>
                    </div>
                    <div *ngIf="inputData?.image">
                        <img [src]="inputData.image" alt="" style="max-width: 100%;">
                    </div>
                </div>
            </fieldset>
            <div class="admin-form__bar">
                <button class="btn admin-btn_white" (click)="save()">{{ saved ? 'Изменения сохранены' : 'Сохранить' }}</button>
            </div>
        </div>
    </div>
</form> 