<div class="rect">
    <div class="w-100"></div>
    <div class="on-moderation">
        <div class="on-moderation__wrap">
            <button class="on-moderation__close" title="Закрыть" [routerLink]="['/']">
                <svg width="20" height="20" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0015 8.98985L13.5371 5.45431C13.816 5.17537 14.2683 5.17537 14.5472 5.45431C14.8262 5.73326 14.8262 6.18552 14.5472 6.46447L11.0117 10L14.5472 13.5355C14.8262 13.8145 14.8262 14.2667 14.5472 14.5457C14.2683 14.8246 13.816 14.8246 13.5371 14.5457L10.0015 11.0102L6.466 14.5457C6.18705 14.8246 5.73479 14.8246 5.45584 14.5457C5.1769 14.2667 5.1769 13.8145 5.45584 13.5355L8.99138 10L5.45584 6.46447C5.1769 6.18552 5.1769 5.73326 5.45584 5.45431C5.73479 5.17537 6.18705 5.17537 6.466 5.45431L10.0015 8.98985Z" />
                </svg>
            </button>
            <h2 class="on-moderation__title">Благодарим Вас за публикацию!</h2>
            <div class="on-moderation__row">
                <div *ngIf="topic" class="on-moderation__category">
                    <app-ui-icon class="margin-right-10" [src]="topic.info.picture || ''"
                                 [textAlternative]="topic.info.name || ''"
                                 [size]="'medium'"></app-ui-icon>
                    <div class="on-moderation__category-txt">{{ topic.info.name }}</div>
                </div>
                <div class="on-moderation__row-bar">
                <div *ngIf="!article.author.info.company.isCompany" class="on-moderation__author">{{ article.author.info | personName }}</div>
                <div *ngIf="article.author.info.company.isCompany" class="on-moderation__company">{{ article.author.info | personName }}</div>
                    <time class="on-moderation__time" datetime="2020-04-06 12:16:50+03:00">{{ article.status.publishedAt | customDate }}</time>
                </div>
            </div>
            <div class="on-moderation__prev-title system-alert__title">{{ article.info.title }}</div>
            <div class="on-moderation__prev-txt system-alert__txt">
                Редактор проверит публикацию на соответствие правилам портала и
                совсем скоро разместит в ленте. В дальнейшем Ваши материалы могут
                размещаться без премодерации. 
            </div>
            <div class="on-moderation__bar">
                <button class="system-alert__confirm" [routerLink]="['/news', article.meta.id]">Посмотреть публикацию</button>
                <button class="system-alert__reset" [routerLink]="['/all']">В ленту публикаций</button>
            </div>
        </div>
    </div>
</div>
