$primary: #00b7ff;
$caption: #979797;
$icon: #92929d;
$gray: #92929d;
$input: #696974;
$error: #ff5b36;
$label: rgba(0, 0, 0, 0.7);

$lightest-gray: #f1f1f5;
$lighter-gray: #e2e2ea;
$light-gray: #d5d5dc;

$light-blue: rgba(0, 183, 255, 0.3);
