a {
  color: inherit;
  text-decoration: none;
}

.with-border {
  padding-bottom: 20px;
  position: relative !important;

  &::before {
    // border
    border-radius: 20px;
    border-top: 2px solid #f6f6f6;
    bottom: 0;
    content: '';
    position: absolute;
    width: 100%;
  }
}
