.type {
  align-items: center;
  display: flex;  
}

.subtitle-2{
  white-space: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.sub {
  color: #92929d;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

* {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.name,
.subtitle-2 {
  color: black;
}

.fade-3 {
  color: rgba(0, 0, 0, 0.4);
}

.fade-4 {
  color: rgba(0, 0, 0, 0.6);
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}
