@import '../../../../shared/styles/dashboard-base-styles.scss';
@import '../../../../shared/styles/admin.scss';

.btn-text {
    position: relative;
    width: 0;
    padding: 0;
    margin: 0;
    right: 30px;
}
