<div class="content">
    <div style="display: flex; justify-content: center;">
        <app-ad-banner [place]="BannerPlaceEnum.HEADER"></app-ad-banner>
    </div>
    
    <app-sidebar-wrapper></app-sidebar-wrapper>
</div>

<div class="wrapper">
    <div class="header">
        <div class="content">
            <app-header></app-header>
        </div>
    </div>
</div>

<app-more-menu-wrapper #globalMenu></app-more-menu-wrapper>
<app-login-social-connect></app-login-social-connect>
<app-dynamic-meta-tags></app-dynamic-meta-tags>
<app-report-block></app-report-block>
<app-cookies-banner></app-cookies-banner>
<app-showcase-editor></app-showcase-editor>
